/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column;
}

.info {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    font-size: 1.2em;
}

.level,
.score,
.goal {
    margin-right: 20px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    /* 4列 */
    grid-template-rows: repeat(4, 80px);
    /* 4行 */
    gap: 10px;
}

.hole {
    width: 80px;
    height: 80px;
    background-color: #8b4513;
    position: relative;
}

.hole.active {
    background-color: #ff6347;
}

/* 闪烁背景动画 */
@keyframes flash {
    0% {
        background-color: #f0f0f0;
    }

    50% {
        background-color: rgb(182, 182, 182);
    }

    /* 闪烁的颜色 */
    100% {
        background-color: #f0f0f0;
    }
}

.flash {
    animation: flash 0.5s;
    /* 闪烁动画持续时间 */
}